footer {
	position: fixed;
	background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 60px;
	width: 100%;
	bottom: 0;
}

footer p {
	position: relative;
	text-align: center;
	top: 12%;
	bottom: 12%;
}
