.container .filters {
	position: relative;
	background: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.filters .locations {
	display: inline-block;
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
}

.filters .amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
}

.filters div h3 {
	font-weight: 600;
	margin: 7% 10% 0 10%;
}

.filters div h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0 10% 7% 10%;
}

button {
	position: absolute;
	background: #FF5A5F;
	color: #FFFFFF;
	font-size: 18px;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	top: 15%;
	bottom: 15%;
	right: 30px;
}

button:hover {
	opacity: 0.9;
}
